id: history
title: History
---

Verson 2.0.5 (2012/03/15)

<ul>
    <li>
        Option to notify server of incoming calls (enabling users to access simple SMS services for free by calling and hanging up, then receiving a SMS reply)
    </li>
    <li>
        Send additional information from phone to server, such as the phone's current network type, age (delay) of incoming messages, device manufacturer, model, and SDK version
    </li>
    <li>
        Various bug fixes
    </li>
</ul>

EnvayaSMS for Drupal (2012/03/04)

<ul>
    <li>
        Mark Burdett / VozMob released the <a href='https://drupal.org/project/sms_envaya'>EnvayaSMS Drupal module</a>, 
        to make it easy for any Drupal site to send and receive SMS messages via EnvayaSMS.
    </li>
</ul>


Version 2.0.4 (2011/11/29)

<ul>
    <li>
        Support long-polling to enable server to send outgoing SMS with minimal latency. 
    </li>
</ul>


Version 2.0.3 (2011/11/25)

<ul>
    <li>
        Allow user to configure phone numbers to ignore, and optionally ignore all shortcodes or non-numeric senders.
    </li>
</ul>

Version 2.0.1 (2011/10/10)

<ul>
    <li>
        Send EnvayaSMS log messages to server via <code>log</code> parameter
    </li>
    <li>
        Notify server of changes in the Android device's power/battery state
        via <code>device_status</code> action.
    </li>     
</ul>


Version 2.0 (2011/10/01)

<ul>
    <li>
        Automatic failover between Wi-Fi and mobile data connection if server is unreachable
        (e.g. when Wi-Fi router is on, but it has no internet access)
    </li>
    <li>
        User can see all pending messages, and retry/delete individual messages
    </li>
    <li>
        Send timestamp of incoming messages to server
    </li>  
    <li>
        Allow outgoing SMS messages to be sent in priority order
    </li>
    <li>
        Reschedule outgoing messages when the Android outgoing SMS limit would be exceeded
    </li>     
</ul>

Version 2.0-beta (2011/09/23)

<ul>
    <li>
        Enable sending more than Android's limit of 100 messages/app/hour via expansion packs
    </li>
    <li>
        Forward incoming MMS messages to server
    </li>
    <li>
        Send and receive multipart SMS (longer than 160 characters)
    </li>    
    <li>
        Authenticate with password shared between phone and server
    </li>
    <li>
        Retry forwarding messages after a delay if there is an error 
        (e.g. due to temporarily broken internet or GSM connection)
    </li>
    <li>
        Notify server of the status of outgoing messages
    </li>
    <li>
        Support multiple phones connecting to same server 
    </li>
    <li>
        Show log messages to user to facilitate troubleshooting
    </li>
    <li>
        User-configurable interval to poll for new outgoing messages    
    </li>    
    <li>
        Option to prevent incoming messages from being stored in Messaging inbox
    </li>
    <li>
        Option to forward messages already received in Messaging inbox
    </li>    
    <li>
        Option to enable/disable all SMS gateway functionality
    </li>        
    <li>
        Perform all HTTP requests asynchronously for better performance
    </li>    
    <li>
        Server API changed to use POST requests instead of GET requests, and other changes; 
        support for future server API changes via 'version' request parameter
    </li>            
    <li>
        Automatically start when the phone boots
    </li>
    <li>
        Test mode to allow forwarding SMS from only certain phone numbers
    </li>    
    <li>
        Add server library and example code for PHP
    </li>
    <li>
        Rename new version to EnvayaSMS
    </li>    
    <li>
        Create EnvayaSMS website
    </li>
</ul>

<a href='https://github.com/niryariv/kalsms/tree/polling'>KalSMS Version 1a</a> (2011/01/18)

<ul>
    <li>
        Option to poll server for outgoing messages once per hour (Sheldon D'Souza)
    </li>
</ul>

<a href='https://github.com/niryariv/kalsms'>KalSMS version 1</a> (2010/10/04)

<ul>
    <li>
        Initial release with support for receiving incoming SMS and sending replies (<a href='http://niryariv.wordpress.com/2010/12/29/kalsms/'>Nir Yariv</a>)
    </li>
</ul>