id: history
title: History
---
Version 2.0-beta (2011/09/22)

<ul>
    <li>
        Enable sending more than Android's limit of 100 messages/app/hour via expansion packs
    </li>
    <li>
        Forward incoming MMS messages to server
    </li>
    <li>
        Server API changed to use POST requests instead of GET requests, and other changes; 
        support for future server API changes via 'version' request parameter
    </li>        
    <li>
        Authenticate with password shared between phone and server
    </li>
    <li>
        Retry forwarding messages after a delay if there is an error 
        (e.g. due to temporarily broken internet or GSM connection)
    </li>
    <li>
        Notify server of the status of outgoing messages
    </li>
    <li>
        Support multiple phones connecting to same server 
    </li>
    <li>
        Show log messages to user to facilitate troubleshooting
    </li>
    <li>
        User-configurable interval to poll for new outgoing messages    
    </li>    
    <li>
        Option to prevent incoming messages from being stored in Messaging inbox
    </li>
    <li>
        Option to forward messages already received in Messaging inbox
    </li>    
    <li>
        Option to enable/disable all SMS gateway functionality
    </li>        
    <li>
        Perform all HTTP requests asynchronously for better performance
    </li>    
    <li>
        Automatically start when the phone boots
    </li>
    <li>
        Test mode to allow forwarding SMS from only certain phone numbers
    </li>    
    <li>
        Add server library and example code for PHP
    </li>
    <li>
        Rename new version to EnvayaSMS
    </li>    
    <li>
        Create EnvayaSMS website
    </li>
</ul>

<a href='https://github.com/niryariv/kalsms/tree/polling'>KalSMS Version 1a</a> (2011/01/18)

<ul>
    <li>
        Option to poll server for outgoing messages once per hour
    </li>
</ul>

<a href='https://github.com/niryariv/kalsms'>KalSMS version 1</a> (2010/10/04)

<ul>
    <li>
        Initial release with support for receiving incoming SMS and sending replies
    </li>
</ul>