<h2>Comparison to Alternative Methods</h2>
<p> 
    SMS gateways can be created using several alternative methods, including hosted services (e.g. Twilio, Tropo, Clickatell),    
    connecting GSM phones/modems to a computer (e.g. FrontlineSMS, RapidSMS, Kannel),
    and partnering directly with mobile operators.    
</p>

<table class='comparison_table'>
    <thead> 
    <tr>
        <td>&nbsp;</td>
        <th>Benefits</th>
        <th>Drawbacks</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Hosted services</th>        
        <td>
            <ul><li>High message throughput
            <li>Easy to deploy</ul>
        </td>
        <td>
            <ul><li>No local numbers in many countries
            <li>Usually no MMS support</ul>
        </td>
    </tr>
    <tr>
        <th>Connecting modem<br /> to computer</th>        
        <td>
            <ul><li>Can work with inexpensive phone</li></ul>
        </td>
        <td>
            <ul><li>Expensive hardware costs
            <li>Lots of moving parts to keep working
            <li>Very difficult for non-technical users to deploy
            <li>Low message throughput
            <li>No MMS support</ul>
        </td>
    </tr>    
    <tr>
        <th>Partnering with<br />mobile operators</th>        
        <td>
            <ul>
            <li>High message throughput
            <li>Can provide free service to users via shortcode</ul>
        </td>
        <td>
            <ul><li>Usually very expensive
            <li>Requires operator approval
            <li>Long setup time</li></ul>
        </td>
    </tr>      
    </tbody>    
</table>
    
<p>
    KalSMS is ideal for situations where no hosted services with local numbers are available in 
    a particular country, or when it is necessary to receive MMS messages. 
</p>
<p>
    KalSMS likely has lower throughput than hosted services or partnering with mobile operators, but should 
    be able to forward up to a few thousand messages per phone per day.
</p>
