layout: default.twig
---
<h2>Frequently Asked Questions</h2>

<h4>
What phones are compatible with EnvayaSMS?
</h4>

<p>
EnvayaSMS should work on any phone with Android 1.6 (Donut) or higher. As of 9/23/2011, over 579 different phone models are compatible with EnvayaSMS.
</p>
<p>
EnvayaSMS has been tested and is known to work with the following phones:

<ul>
<li>LG GT540 Optimus</li>
<li>Samsung Galaxy Mini S5570</li>
</ul>
