layout: default.twig
---
<h2>Installing EnvayaSMS</h2>

Before installing EnvayaSMS, ensure that you have the following prerequisites:

<ul>
    <li>One or more Android phones (1.6 Donut or higher) that are
    registered on a mobile network. </li>
    <li>A way for the phones to connect to the internet, either via Wi-Fi
    or the mobile data service. <br  />
    (Even if using Wi-Fi, mobile data 
    service is necessary to receive MMS messages.)    </li>
    <li> A web server accessible from the public internet </li>
</ul>

Using an Android phone, open <a href='https://market.android.com/details?id=org.envaya.sms'>EnvayaSMS's page on Android Market</a> by clicking the link from your phone's browser, or scanning the barcode with a QR code app. Then, follow the steps shown below to install EnvayaSMS.<br />

<div style='float:left;padding-right:10px;padding-top:30px'>
<div style='font-size:16px;font-weight:bold; text-align:center'>
<a href="https://market.android.com/details?id=org.envaya.sms">Open Android Market</a>
</div>
<img src='media/qr.png' width='175' height='175' style='vertical-align:middle' /> 
</div>

<div style='float:left;padding-top:10px'>
<img src='media/screenshot-market.png' style='border:1px solid black' width='484' height='240' />
</div>

<div style='clear:both;padding-top:10px'>
Alternatively, software developers may <a href="https://github.com/youngj/EnvayaSMS">download the source code from GitHub</a>
and build EnvayaSMS themselves.
</p>

<h2>Configuring EnvayaSMS</h2>

<h3>Server Configuration</h3>

<p>
It is assumed that your organization already has an HTTP server, or has the technical expertise to set up an HTTP server.
</p>

<p>
Follow the instructions in the <a href='serverapi.html'>API Reference</a> page to learn how to construct a 
resource on your HTTP server that can communicate with EnvayaSMS.
</p>

<h3>Phone Configuration</h3>

<div style='float:right;padding-left:10px;padding-bottom:10px'>    
<img src='media/screenshot-settings.png' width='211' height='347' />
</div>


<p>
After your server is configured, configure EnvayaSMS on your phone to connect to your server as follows:
</p>

<ol>

<li>Open the EnvayaSMS app</li>
<li>Click the Menu button, then "Settings"</li>
<li>Configure EnvayaSMS to work with your server by entering:</li>
        <ul>
            <li>your server URL</li>
            <li>your phone number</li>
            <li>the password shared with the server</li>
        </ul>
<li>Choose an interval to poll for new outgoing messages</li>
<li><em>Recommended:</em> under Wi-Fi sleep policy, select "always stay connected".
    (Otherwise, EnvayaSMS will be unable to forward messages after the phone goes to sleep.)
</li>
<li>Check "Enable EnvayaSMS"</li>
<li>Click the Back button to return to the main screen</li>
</ol>

<p>
To test if EnvayaSMS has been configured properly and can connect
to your server, open the EnvayaSMS app, click the Menu button, 
then click "Test Connection".
</p>

<p>
<strong>Important:</strong> After EnvayaSMS is enabled, it will forward all SMS messages regardless of whether the
EnvayaSMS app is open. If you want to use SMS normally again, return to EnvayaSMS' settings screen
and uncheck "Enable EnvayaSMS". 
</p>

<h3>Installing Expansion Packs</h3>

<p>
    By default, Android prevents EnvayaSMS from sending more than 100 outgoing SMS messages per hour. 
    However, that limit can be increased by installing EnvayaSMS Expansion Packs.
</p>
<p>
    Each Expansion Pack allows EnvayaSMS to increase its sending limit by an additional 100 outgoing SMS messages
    per hour. For example, if you install 14 expansion packs, EnvayaSMS will be able to send up to 1500 outgoing SMS messages
    per hour.
</p>
<p>
    <a href="https://market.android.com/details?id=org.envaya.sms.pack01">Install EnvayaSMS Expansion Pack 01</a>
</p>
<p>
    With Expansion Packs, EnvayaSMS is limited only by how fast your phone can send and receive SMS, 
    and by your mobile provider's usage limits and terms of service.
</p>
<p>

</p>