<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>EnvayaSMS</title>
  <link rel='stylesheet' type='text/css' href='styles/site.css' />
</head>

<body>
  <a href="http://github.com/youngj/EnvayaSMS"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

  <div id="container">

    <a style='float:left' href="index.html"><img src='media/icon.png' height='72' width='72' style='margin-right:10px' /></a>
    <h1 style='padding-top:13px'><a href="index.html">EnvayaSMS</a>
    
    <span class="small">
      SMS gateway for Android
    </span>    
    
    </h1>      
    
    <div class='menu' style='clear:both;padding-top:5px'>
        <a href='index.html'>Home</a>
        &middot;
        <a href='install.html'>Install</a>
        &middot;
        <a href='how.html'>How it Works</a>
        &middot;
        <a href='serverapi.html'>API Reference</a>
        &middot;
        <a href='comparison.html'>Comparison</a>        
        &middot;
        <a href='faq.html'>FAQ</a>        
        &middot;        
        <a href='history.html'>History</a>                
    </div>
  
    {{ content }}
    
    <div class="footer">
      get the source code on GitHub : <a href="http://github.com/youngj/EnvayaSMS">youngj/EnvayaSMS</a>
    </div>

  </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25868450-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
</body>
</html>
