<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>KalSMS</title>
  <link rel='stylesheet' type='text/css' href='styles/site.css' />
</head>

<body>
  <a href="http://github.com/youngj/KalSMS"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

  <div id="container">

    <h1><a href="index.html">KalSMS</a>
    
    <span class="small">
      SMS/MMS gateway for Android
    </span>
    </h1>      
    
    <div class='menu'>
        <a href='index.html'>Home</a>
        &middot;
        <a href='install.html'>Install</a>
        &middot;
        <a href='how.html'>How it Works</a>
        &middot;
        <a href='serverapi.html'>API Reference</a>
        &middot;
        <a href='comparison.html'>Comparison</a>        
        &middot;
        <a href='history.html'>History</a>                
    </div>
  
    {{ content }}
    
    <div class="footer">
      get the source code on GitHub : <a href="http://github.com/youngj/KalSMS">youngj/KalSMS</a>
    </div>

  </div>
  
</body>
</html>
