<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="cache-control" content="no-cache, must-revalidate" >
  <title>EnvayaSMS{% if entry.title %}: {{ entry.title }}{% endif %}</title>
  <link rel='stylesheet' type='text/css' href='/styles/site.css' />  
</head>

<body>
  <a href="http://github.com/youngj/EnvayaSMS"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

  <div id="container">
 
    <a style='float:left' href="/"><img src='/media/icon.png' height='72' width='72' style='margin-right:10px' /></a>
    <h1 style='padding-top:13px'><a href="/">EnvayaSMS</a>
    
    <span class="small">
      SMS gateway for Android
    </span>    
    
    </h1>      
    
    <div class='menu' style='clear:both;padding-top:5px'>
        <a {% if entry.id == 'home' %}class='active'{% endif %} href='/'>Home</a>
        &middot;
        <a {% if entry.id == 'install' %}class='active'{% endif %} href='/install/'>Install</a>
        &middot;
        <a {% if entry.id == 'how' %}class='active'{% endif %} href='/how/'>How it Works</a>
        &middot;
        <a {% if entry.id == 'serverapi' %}class='active'{% endif %} href='/serverapi/'>API Reference</a>
        &middot;
        <a {% if entry.id == 'faq' %}class='active'{% endif %} href='/faq/'>FAQ</a>        
        &middot;        
        <a {% if entry.id == 'history' %}class='active'{% endif %} href='/history/'>History</a>                
        &middot;        
        <a {% if entry.id == 'community' %}class='active'{% endif %} href='/community/'>Community</a>                
    </div>
    
    <h2>{{ entry.title }}</h2>
  
    {{ content }}
    
    <div class="footer">
      get the source code on GitHub : <a href="http://github.com/youngj/EnvayaSMS">youngj/EnvayaSMS</a>
    </div>

  </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25868450-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
</body>
</html>
