id: community
title: Community
---

<h4>Contribute to EnvayaSMS</h4>

<p>
To contribute to EnvayaSMS as a developer, just <a href='http://github.com/youngj/EnvayaSMS'>fork the project on github</a>, 
work on your copy and send pull requests.
</p>

<h4>Issue Tracker</h4>

<p>
To report a problem with EnvayaSMS, or to suggest a new feature, use our <a href='https://github.com/youngj/EnvayaSMS/issues'>issue tracker on github</a>.
</p>

<h4>Email</h4>

<p>
To contact the EnvayaSMS developers, email <a href='sms-developers@envaya.org'>sms-developers@envaya.org</a>.
</p>

