id: community
title: Community
---

<h4>Discussion Forum</h4>

<p>
For general discussion, questions, or feedback about EnvayaSMS, use the public forum at 
<a href='http://groups.google.com/group/envayasms'>groups.google.com/group/envayasms</a>.
</p>


<h4>Contribute to EnvayaSMS</h4>

<p>
To contribute to EnvayaSMS as a developer, just <a href='http://github.com/youngj/EnvayaSMS'>fork the project on github</a>, 
work on your copy and send pull requests.
</p>

<p>
If you want to support Envaya to continue improving EnvayaSMS, 
or you want to register your appreciation for the current version, 
you're encouraged to <a href='http://envaya.org/envaya/page/contribute'>donate to Envaya</a>!
Envaya is a 501(c)(3) non-profit project of the Trust for Conservation Innovation. 
</p>

<h4>Issue Tracker</h4>

<p>
To report a problem with EnvayaSMS, or to suggest a new feature, use our <a href='https://github.com/youngj/EnvayaSMS/issues'>issue tracker on github</a>.
</p>

<h4>Follow us</h4>

<p>
Twitter: <a href='http://twitter.com/envaya'>@envaya</a> <br />
Facebook: <a href='http://facebook.com/envaya'>Envaya</a>
</p>


<h4>Email</h4>

<p>
To contact the EnvayaSMS developers privately, email <a href='sms-developers@envaya.org'>sms-developers@envaya.org</a>.
</p>

